<div class="developer-work">
  <h3>Skills</h3>
  <ul>
    <% developer.resume.skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ul>

  <h3><i class="fa fa-briefcase" aria-hidden="true"></i>Work Experience</h3>
  <p class="profile-work-experience">
  <% developer.resume.work_experiences.each do |experience| %>
    <div class="job_title"><%= experience.job_title %><br>
    <%= experience.company_name %>
    </div><br>
    <%= experience.start_date %> <br>
    <%= experience.end_date %> <br>
    <%= experience.description %>
    <% end %>
  </p>
  <hr>
  <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education</h3>
  <% developer.resume.educations.each do |education| %>
    <div>
      <%= education.name %>
      <%= education.school %>
      <%= education.start_date %>
      <%= education.end_date %>
    </div>
  <% end %>

  <hr>
  <h3><i class="fa fa-line-chart" aria-hidden="true"></i>Projects</h3>
  <% developer.resume.projects.each do |project| %>
    <div>
      <%= project.name %>
      <%= project.description %>
    </div>
  <% end %>
</div>

