<br>
<div class="developer-work">
  <h4 class="resume-partial-title">Summary</h4>
 <%= developer.resume.summary %>
 <hr>
  <h4 class="resume-partial-title">Skills</h4>
    <% developer.resume.skills.each do |skill| %>
      <span class="skill"><%= skill.name %></span>
    <% end %>
    <hr>
  <div class="work-experience">
    <h4 class="resume-partial-title">Work Experience</h4>
    <% developer.resume.work_experiences.each do |experience| %>
    <strong><%= experience.job_title %></strong>  <br>
    <%= experience.company_name %> <br>
    <p class="date"><%= experience.start_date %> - <%= experience.end_date%></p>
   <p class="date"><%= experience.description %></p>
    <% end %>
  </div>

  <hr>
 <div class="education"><h4 class="resume-partial-title">Education</h4>
  <% developer.resume.educations.each do |education| %>
     <strong><%= education.name %></strong> <br>
      <%= education.school %>
     <p class="date"><%= education.start_date %> - <%= education.end_date %>
    </p>

  <% end %>
</div>

  <hr>
  <h4 class="resume-partial-title">Projects</h4>
    <% developer.resume.projects.each do |project| %>
      <strong><%= project.name %></strong> <br>
      <%= project.description %> <br> <br>
  <% end %>
</div>

