<h1 class="top-developers">Top Developers of the month</h1>



<div class="wrapper-developers">
        <ul class="developers-list"><div><% @developers.each do |developer| %>
          <li class="card">
            <div class="avatar_developer"><%= link_to developer_path(developer) do %>
              <%= image_tag "developer.avatar" %></div>
              <% end %>
              <div class="card-user"><%= link_to developer_path(developer) do %>
                <%= "#{developer.first_name} #{developer.last_name}" %>
                <% end %>
              </div>
              <div class="card-category"><%= developer.city %></div>
              <% end %>
            </li>
          </div>
        </ul>
        <div class="sideinfo">
      </div>





<div class="developers-wrapper">
  <p>Developers are in the highlight to be be approached by the employers</p>
  <p>Do not have a developer profile yet?</p>

  <%= link_to "Sign up", new_user_registration_path, class:"signup" %><br />

</div>
