<br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-xs-12 col-sm-10">
      <div class="card">
        <div class="developer-profile">


           <% if employer_signed_in? %>
          <a href="mailto:<%= @developer.email %>?SUBJECT=An employer is interested in you!" class= "navbar-wagon-button btn">contact developer</a>
          <% elsif !employer_signed_in? %>
          <%= link_to "Apply", new_user_session_path, class: "navbar-wagon-button btn" %>
          <% end %>



















          <%= cl_image_tag(@developer.resume.photo, height: 150, width: 150, crop: :fill, class:"profile-avatar") %>
          <%= render 'personal_info', developer: @developer %>
        </div>
        <% if @developer.resume %>
        <%= render 'resume', developer: @developer %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br><br>
