<div class="nested-fields">
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :company_name %>
  <%= f.input :job_title %>
  <%= f.input :description %>
  <%= link_to_remove_association "remove work_experience", f %>
</div>
