<h1>Here is where you create an online resume</h1>


<%= simple_form_for [:developer, @profile], [:] do |f| %>
  <%= f.input :phone %>
  <%= f.input :summary %>
  <%= f.input :linkedin %>
  <%= f.input :years_of_experience %>
  <%= f.button :submit %>
<% end %> <!--
# <%= simple_form_for(@product) do |f| %>
#   <%= f.input :name %>
#   <%= f.input :description %>
#   <%= f.input :photo %>
#   <%= f.input :photo_cache, as: :hidden %>
#   <%= f.submit %>
# <% end %>
-->


<div class="container">


<h1>At this page you can find the profile of the developers.</h1>

<p>
  the information that we display here is the resume, the jobs we applied to. the points the developers earned. a picture
</p>
<h1>asdasd</h1>
<%= cl_image_tag @user.resume.photo, height: 300, width: 400, crop: :fill %>

<% if current_user.id.to_s == params[:id].to_s %>
<%= simple_form_for @resume, url: resume_developers_profile_path do |f|  %>
<%= f.input :summary %>
<%= f.input :linkedin %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.submit %>
<% end %>
<% end %>
<%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>x
