<div class="container">


<h1>At this page you can find the profile of the developers.</h1>

<p>
  the information that we display here is the resume, the jobs we applied to. the points the developers earned. a picture
</p>
<h1>asdasd</h1>

<%= cl_image_tag @user.photo, height: 150, width: 150, crop: :fill %>

<h2>Resume</h2>

<% if @resume %>
  <%= link_to "Edit", edit_developers_profile_path %>
  <%= cl_image_tag @resume.photo, height: 150, width: 150, crop: :fill %>
  <%= @resume.summary %>
  <%= @resume.linkedin %>

  <h3>Skills</h3>
  <ul>
    <% @resume.skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ul>

  <h3>Education</h3>
  <% @resume.educations.each do |education| %>
    <div>
      <%= education.name %>
      <%= education.school %>
      <%= education.start_date %>
      <%= education.end_date %>
    </div>
  <% end %>

  <h3>Projects</h3>
  <% @resume.projects.each do |project| %>
    <div>
      <%= project.name %>
      <%= project.description %>
    </div>
  <% end %>

  <h3>work_experiences</h3>
  <% @resume.work_experiences.each do |work_experience| %>
    <div>
      <%= work_experience.start_date %>
      <%= work_experience.end_date %>
      <%= work_experience.company_name %>
      <%= work_experience.job_title %>
      <%= work_experience.description %>

    </div>
  <% end %>


<% else %>
  <%= link_to "Add your resume", edit_developers_profile_path %>
<% end %>





</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Cloudinary::Uploader.upload("SinglePageSample.pdf", :public_id => "single_page_pdf") -->
