<div class="developer-profile">
  <% if @resume %>
    <%= cl_image_tag(@user.resume.photo, height: 150, width: 150, crop: :fill, class:"profile-avatar") %>
  <% else %>
    <%= image_tag "logo.png" %>
  <% end %>

  <%= render 'developers/personal_info', developer: @user %>
  <%= link_to 'Edit profile', edit_developers_profile_path, class: "btn btn-primary" %>
</div>

<% if @resume %>
  <%= render 'developers/resume', developer: @user %>
<% else %>
  <%= link_to "Add your resume", edit_developers_profile_path %>
<% end %>
