<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Apply to these jobs</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <% @jobs.each do |job| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card jobs-card">
        <h4> <%= link_to "#{job.job_title}", job_path(job), class: "jobs-title" %> </h4>
        <%= job.location %>
        <br>
        <%= job.employer.company_name %>
        <br>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br><br>
<div class="white-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">What others say about us</h3>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="text-center">
          <%= image_tag("testimonials1.jpg", class: "avatar-bordered")%>
          <br><br>
          <i>"It fits our needs perfectly. Rubyrubyruby has got everything I need. I was amazed at the quality of Rubyrubyruby."</i>
          <div class="testimonial-name">
            <b>Dan C.</b>
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="text-center">
          <%= image_tag("testimonials2.jpg", class: "avatar-bordered")%>
          <br><br>
          <i>"Rubyrubyruby has completely surpassed our expectations."</i>
          <div class="testimonial-name">
            <b>Carter T.</b>
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="text-center">
          <%= image_tag("testimonials3.jpg", class: "avatar-bordered")%>
          <br><br>
          <i>"Just what I was looking for. Just what I was looking for."</i>
          <div class="testimonial-name">
            <b>Alexis F.</b>
          </div>
        </div>
              <br><br>

      </div>
    </div>
  </div>
</div>
