<div class="container">
  <!-- <h1 class="">apply to this job</h1>

  <div class="vacancy">
      <h2> <%= @job.job_title %></h2>
  </div>
  <div class="vacancy">
    <%= @job.salary %>
  </div>
  <div class="vacancy">
    <%= @job.description %>
  </div>
    <div class="vacancy">
      <%= @job.location %>
    </div>
    <div class="vacancy">
      <% @job.skills.each do |skill| %>
    <span class="label label-default"> <%=  skill.name%> </span>
    <% end %>
</div> -->
  <h1 class="">apply to this job</h1>

<div class="card card-block" style="width: 100%;">
  <h3 class="card-title">  <div class="vacancy">
        <h2> <%= @job.job_title %></h2>
    </div></h3>
  <p class="card-text"  <div class="vacancy">
    <h4> <%= @job.location %> </h4>
    <h4><%= @job.salary %></h4>
      <br>

      <%= @job.description %>
      <br>

    </div></p>

  <a href="#" class="btn btn-primary">Apply to this job</a>
</div>

<br><br><br><br><br>
</div>
