
<div class="container">
  <div class="form">
    <h2 class="main-text">Employer Information</h2>

    <%= simple_form_for @employer, url: employers_profile_path, method: :patch, class: "form-horizontal" do |f|  %>
    <%= f.input :company_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :country %>
    <%= f.input :city %>
    <%= f.input :street %>
    <%= f.input :postcode %>

    <div class="button">
      <%= f.submit %>
      <% end %>
      </div
    </div>
  </div>
