<div id="employer_container" class="container">
<div class="card">
  <div class="employer_form" class="form">
    <h2 class="main-text">Employer Information</h2>
    <% if @employer.photo.present? %>
      <%= cl_image_tag(@employer.photo, height: 150, width: 150, crop: :fill, class:"profile-avatar") %>
    <% end %>
    <% if @employer.company_name.present? %>
      <div class="info_employer"> <br>
        <%= @employer.company_name.capitalize %>
      </div>
      <br>
    <% end %>
      <div class="info_employer">
        <%= @employer.email %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.phone %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.street %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.postcode %>
      </div>
      <br>
      <% if @employer.city.present? %>
        <div class="info_employer">
          <%= @employer.city.capitalize %>
        </div>
        <br>
      <% end %>
      <% if @employer.country.present? %>
        <div class="info_employer">
          <%= @employer.country.capitalize %>
        </div>
        <br>
      <% end %>
        <%= link_to "Edit", edit_employers_profile_path, class:"fill-button"%>
      <!-- <button id="employer_btn" class="btn">
      </button> -->
    </div>
  </div>
  </div>
</div>
