<div id="employer_container" class="container">
<div class="card">
  <div class="employer_form" class="form">
    <h2 class="main-text">Employer Information</h2>
    <div class="info_employer">
      <%= @employer.company_name.capitalize %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.email %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.phone %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.street %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.postcode %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.city.capitalize %>
      </div>
      <br>
      <div class="info_employer">
        <%= @employer.country.capitalize %>
      </div>
      <br>
        <%= link_to "Edit", edit_employers_profile_path, class:"fill-button"%>
      <!-- <button id="employer_btn" class="btn">
      </button> -->
    </div>
  </div>
  </div>
</div>
