
<div class="container">
<%= @employer.company_name %>
<br>
<%= @employer.first_name %>
<br>
<%= @employer.last_name %>
<br>
<%= @employer.email %>
<br>
<%= @employer.street %>
<br>
<%= @employer.postcode %>
<br>
<%= @employer.city %>
<br>
<%= @employer.country %>
<br>
<%= @employer.phone %>

<%= link_to "edit", edit_employers_profile_path%>
</div>
