<div class="container">
  <br><br>
  <h1>My Applications</h1>
  <br>
  <div class="row">
   <% @applications.each do |application| %>
   <div class="col-xs-12 col-sm-offset-1 col-xs-12 col-sm-10">
    <div class="developers-card card">
      <div class="developers-details">
        <div>
          <%= link_to job_path(@job) do %>
          <h3 class="jobs-title"> <%= application.job.job_title %></h3>
          <% end %>
          <p> <%= application.job.employer.company_name %> </p>

          <br>
          applied <%= time_ago_in_words(application.created_at) %> ago
          <br>
          <!-- <%= application.description %> -->
        </div>
      </div>
    </div>
  </div>
        <% end %>
</div><br><br><br><br><br><br><br><br><br><br>
</div>
