
<div class="container">
  <h1 class="h1-test">here you'll find the jobs that are created by an employer</h1>
<br><br>
  <div class="vacancy">
  <h2> <%= @job.job_title %></h2>
  </div>
  <div class="vacancy">
    <%= @job.salary %>
  </div>
  <div class="vacancy">
    <%= @job.description %>
  </div>
  <div class="vacancy">
    <%= @job.location %>
  </div>
  <div class="vacancy">
    <% @job.skills.each do |skill| %>
      <%= skill.name %>
    <% end %>
  </div>
</div>
