
<div class="container">


  <h1 class="h1-test">here you'll find the jobs that are created by an employer</h1>
  <div class="vacancy">
    <% @job.skills.each do |skill| %>
    <span class="skill"><%= skill.name %></span>
    <% end %>
  </div>

received applications:

<% @applications.each do |application| %>
<%= link_to %>
  <%= application.user.first_name %>
  <%= application.user.last_name %>
  <br>
  <%= application.user.email %>
  <div><%= application.description %></div>
<% end %>

<br><br>
  <div class="vacancy">
  <h2> <%= @job.job_title %></h2>
  </div>
  <div class="vacancy">
    <%= @job.location.capitalize %>
  </div>
  <div class="vacancy">
    <%= @job.salary %>
  </div>
  <div class="vacancy">
    <%= @job.description %>
  </div>
  <div class="vacancy">

    <br>

  <%= link_to 'Edit Job', edit_employers_job_path, class: "edit-profile-btn" %>

  </div>
</div>
