
<div class="container">
  <h1 class="h1-test">here you'll find the jobs that are created by the current employer</h1>


    received applications:

      <% @applications.each do |application| %>
      <%= application.user.first_name %>
      <%= application.user.last_name %>
      <br>
      <%= application.user.email %>
     <%= application.description %>
    <% end %>



  <div class="vacancy">
    <br><br>
      <div class="vacancy">
      <h2> <%= @job.job_title %></h2>
      </div>
        <% @job.skills.each do |skill| %>
        <span class="skill"><%= skill.name %></span>
        <% end %>
      </div>
      <div class="vacancy">
        <%= @job.location.capitalize %>
      </div>
      <div class="vacancy">
        <%= @job.salary %>
      </div>
      <div class="vacancy">
        <%= @job.description %>
        </div>
          <div class="vacancy">
              <br>
            <%= link_to 'Edit Job', edit_employers_job_path, class: "edit-profile-btn" %>
        </div>
</div>
