  <div class="container">
    <h1>#Tickets</h1>
      <% @posts.each do |post|%>
    <div class="card">
      <h2 class="jobs-title"><%= link_to post.title, post %> </h2>
      <p>
      Published
      <%= time_ago_in_words(post.created_at) %>
      by
      <h4><%= post.user.first_name %>
      <%= post.user.last_name %></h4>
      </p>
    </div>
      <% end %>
      <%= link_to "New Post", new_post_path, class: "navbar-wagon-button btn"%>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
