<!DOCTYPE html>
<html>
<head>
  <title>RubyRubyRuby</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'ruby1.png', type: 'image/png' %>
</head>
<body>
<!--
<% if user_signed_in? %>
<%= link_to "New Post", new_post_path %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<% end %>
  <div class="body-wrapper">
  -->
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </div>
    <%= render 'shared/footer' %>
    <script>
      $(function() {
        $("#navbar-wagon-menu").click(function() {
          $(".dropdown-menu").toggle();
        })
      })
    </script>
</body>
</html>
